.Todo {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	height: 100vh;
	flex-direction: column;
	
}

.Add_Todo{
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 30px;
}

.Add_Todo input{
	border: 2px solid blue;
	padding: 5px;
	border-radius: 5px;
}
#add-todo-btn{
	background-color: transparent;
	border: none;
}

#add-todo-img{
	color: blue;
	font-size: 32px;
}